hr {
    margin-top: 0;
}

.form-container {
    max-width: 50rem;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-fieldset {
    margin: 15px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #ffffff;
}

.form-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.form-input,
.form-select {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.add-button,
.remove-button,
.submit-button {
    width: 14rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.add-button {
    background-color: #56A42C;
}

.remove-button {
    background-color: #f44336;
}

.submit-button {
    background-color: #06A3C9;
}

.error-message {
    color: #ff0000;
    font-size: 0.9rem;
    margin-top: 10px;
}
