// Colores principales
$primary-green: #56A42C; // Verde principal
$primary-blue: #06A3C9;  // Azul principal

// Otros colores que uses frecuentemente
$white: #ffffff;
$black: #000000;
$gray-light: #f5f5f5;
$gray-dark: #333333;