@use '@/styles/__colors.scss' as *;

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $gray-200;
  color: $gray-900;
}



// Storybook
.sb-show-main.sb {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}